.red {
    background-color: red;
}

.blue {
    background-color: blue;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
    color: white;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.tf-tree.tf-gap-lg li {
    padding: 0 0.2em;
}