@using AnimalCrossingFlowersHybridization.Client.ViewModels.Flowers

<div class="tf-tree tf-gap-lg tf-ancestor-tree">
    <ul>
        <TreeNode ViewModel="@ViewModel"></TreeNode>
    </ul>
</div>

@code {
    [Parameter]
    public FlowerViewModel ViewModel { get; set; }
}